<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="markhor">
  <!-- Include markhor robot -->
  <xacro:include filename="$(find markhor_description)/urdf/markhor.xacro"/>
  <!-- Include ovis 6DOF robotic arm -->
  <xacro:include filename="$(find ovis_description)/urdf/ovis_standalone.xacro"/>
  
  <link name="root"/>

  <xacro:property name="robot_root" value="root" />
  <xacro:markhor base_parent="${robot_root}"/>
  <xacro:ovis base_parent="markhor_link_arm_root"/>

</robot>
